/*******************************************************************************
  RESET *1
*******************************************************************************/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video
{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav,
section
{
  display: block;
}

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after
{
  content: '';
  content: none;
}

table { border-collapse: collapse; border-spacing: 0; }


/*******************************************************************************
  VISUALLY HIDDEN ELEMENTS *2
*******************************************************************************/

body > a, /* Accessibility link */
nav h3
{
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*******************************************************************************
  STANDARD ELEMENTS
*******************************************************************************/

#HomePage_TheLibrary
{
  border: 30px solid black;
  width: 775px;
  height: 800px;
  padding: 2.5em 3em;
  margin: 2em auto;
}

#HomePage_TextWithImagesPage_About 
{  
  border: 30px solid black;
  width: 775px;
  height: 800px;
  padding: 2.5em 3em;
  margin: 2em auto;
}

#HomePage_TextWithImagesPage_Events 
{  
  border: 30px solid black;
  width: 775px;
  height: 800px;
  padding: 2.5em 3em;
  margin: 2em auto;
}

#HomePage_TextWithImagesPage_Menu
{  
  border: 30px solid black;
  width: 775px;
  height: 1200px;
  padding: 2.5em 3em;
  margin: 2em auto;
}

#AccessibilityMenu
{
  text-indent: -9999px;
  position: absolute;
}

div h1 a
{
  display: block;
  text-indent: -9999px;
  height: 97px; 
  width: 350px;
  background: url('/media/Unmanaged/Images/LIBRARY_mini-site_librarylogo.png'); 
}

#SiteMenu h3 + ul>:first-child 
{
  text-indent: -9999px;
  position: absolute;
}

#SiteMenu h3 + ul>:first-child + li a
{
  display: block;
  text-indent: -9999px;
  height: 17px; 
  width: 67px;
  background: url('/media/Unmanaged/Images/LIBRARY_mini-site_ABOUT-red.png'); 
  position: absolute;
  margin-left: 27em;
  margin-top: 5em;
}

#SiteMenu h3 + ul li + li a
{
  display: block;
  text-indent: -9999px;
  height: 17px; 
  width: 76px;
  background: url('/media/Unmanaged/Images/LIBRARY_mini-site_EVENTS-red.png'); 
  position: absolute;
  margin-left: 35.4em;
  margin-top: 5em;
}

#SiteMenu h3 + ul>:last-child a
{
  margin-left: 44.5em;
  display: block;
  text-indent: -9999px;
  height: 16px; 
  width: 58px;
  background: url('/media/Unmanaged/Images/LIBRARY_mini-site_MENU-red.png'); 
  position: absolute;
}
  


#MainContent
{
  border-style:solid;
  border-top: 25px solid black;
  border-bottom: 25px solid black;
  height: 390px;
  margin-top: 7em;
}

p
{
  font-family: helvetica;
  font-size: .8em;
  width: 520px;
  margin-left: 21em;
  line-height:133%;
}

p + p
{
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

p a
{
  color: red;
  font-weight: bold;
  text-decoration: none;
}

img + img
{
  margin-top: 1.7em;
  position: absolute;
  display: block;
}

h2
{  
  text-indent: -9999px;
}

div div
{
  margin-top: .5em;
  position: absolute;
}

#GeneralInfo
{
  display: block;
  text-indent: -9999px;
  background: url('/media/2811/library_hours_327x157.png.png'); 
  position: absolute;
  height: 111px; 
  width: 313px;
  margin-left: 29em;
  margin-top: 1.5em;
}

address + pre
{
  text-indent: -9999px;
}

section h3
{
  text-indent: -9999px;
  position: absolute;
}
section h3 + ul>:first-child  a
{
  margin-left: 27em;
  margin-top: -39em;
  position: absolute;
  display: block;
  text-indent: -9999px;
  height: 41px; 
  width: 140px;
  background: url('/media/Unmanaged/Images/LIBRARY_mini-site_publiclogo.png'); 
  position: absolute;
}

section h3 + ul>:first-child + li a
{
  margin-left: 38.5em;
  margin-top: -39em;
  position: absolute;
  display: block;
  text-indent: -9999px;
  height: 40px; 
  width: 160px;
  background: url('/media/Unmanaged/Images/LIBRARY_mini-site_joespub.png'); 
  position: absolute;
}

#GeneralInfo
{
  display: block;
  text-indent: -9999px;
  position: absolute;
}

#HomePage_TheLibrary div img
{
  margin-left: 19.75em;
  position: absolute;
}

#HomePage_TheLibrary #GeneralInfo
{
  margin-left: 28.5em;
  margin-top: 1.5em;
}

#HomePage_TextWithImagesPage_Menu #MainContent
{
  border-style:solid;
  border-top: 25px solid black;
  border-bottom: 25px solid black;
  height: 800px;
  width: 775px;
  margin-top: 7em;
}
#HomePage_TextWithImagesPage_Menu section h3 + ul>:first-child  a
{
  margin-left: 27em;
  margin-top: -65.6em;
  position: absolute;
  display: block;
  text-indent: -9999px;
  height: 41px; 
  width: 140px;
  background: url('/media/Unmanaged/Images/LIBRARY_mini-site_publiclogo.png'); 
  position: absolute;
}

#HomePage_TextWithImagesPage_Menu section h3 + ul>:first-child + li a
{
  margin-left: 38.5em;
  margin-top: -65.6em;
  position: absolute;
  display: block;
  text-indent: -9999px;
  height: 40px; 
  width: 160px;
  background: url('/media/Unmanaged/Images/LIBRARY_mini-site_joespub.png'); 
  position: absolute;
}

#HomePage_TextWithImagesPage_About .CurrentNode  a
{
  text-indent: -9999px;
  display: block;
  position: absolute;
}


#HomePage_TextWithImagesPage_Menu pre
{
  margin-left: 19.3em;
  font-family: helvetica;
  font-size: .75em;
  line-height: 86%;
  border-left: 25px solid black;
  padding-left: 2em;
  padding-top: 2.8em;
}

#HomePage_TextWithImagesPage_Menu p
{
  margin-left: 17.05em;
  font-family: helvetica;
  font-size: .85em;
  line-height: 90%;
  border-left: 25px solid black;
  padding-top: 1em;
  padding-left: -.05em;
}

#HomePage_TextWithImagesPage_Menu #MainContent div
{
  text-indent: -9999px;
  display: block;
  position: absolute;
  height: 159px; 
  width: 206px;
  background: url('/media/Unmanaged/Images/LIBRARY_mini-site_placeholder.png'); 
}

#HomePage_TextWithImagesPage_Menu p
{
  text-indent: 0px;
  color: black;
  font-weight: bold;
  position: absolute;
  padding-left: 2.2em;
}

#GeneralInfo pre
{
  border-style: none;
}

section + section h3
{
  text-indent: -9999px;
  display: block;
  position: absolute;
  height: 22px; 
  width: 202px;
  margin-top: -40.8em;
  margin-left: 27em;
  background: url('/media/Unmanaged/Images/LIBRARY_mini-site_CHOOSE.png'); 
}

#HomePage_TextWithImagesPage_Menu  section + section h3
{
  text-indent: -9999px;
  display: block;
  position: absolute;
  height: 22px; 
  width: 202px;
  margin-top: -66.4em;
  margin-left: 27em;
  background: url('/media/Unmanaged/Images/LIBRARY_mini-site_CHOOSE.png'); 
}

#HomePage_TextWithImagesPage_Menu section h3 + ul>:first-child  a
{
  margin-left: 27em;
  margin-top: -64.65em;
  position: absolute;
  display: block;
  text-indent: -9999px;
  height: 41px; 
  width: 140px;
  background: url('/media/Unmanaged/Images/LIBRARY_mini-site_publiclogo.png'); 
  position: absolute;
}

#HomePage_TextWithImagesPage_Menu section h3 + ul>:first-child + li a
{
  margin-left: 38.5em;
  margin-top: -64.65em;
  position: absolute;
  display: block;
  text-indent: -9999px;
  height: 40px; 
  width: 160px;
  background: url('/media/Unmanaged/Images/LIBRARY_mini-site_joespub.png'); 
  position: absolute;
}

#HomePage_TextWithImagesPage_About  section + section h3
{
  text-indent: -9999px;
  display: block;
  position: absolute;
  height: 22px; 
  width: 202px;
  margin-top: -42em;
  margin-left: 27em;
  background: url('/media/Unmanaged/Images/LIBRARY_mini-site_CHOOSE.png'); 
}

#HomePage_TextWithImagesPage_About section h3 + ul>:first-child  a
{
  margin-left: 27em;
  margin-top: -40.25em;
  position: absolute;
  display: block;
  text-indent: -9999px;
  height: 41px; 
  width: 140px;
  background: url('/media/Unmanaged/Images/LIBRARY_mini-site_publiclogo.png'); 
  position: absolute;
}

#HomePage_TextWithImagesPage_About section h3 + ul>:first-child + li a
{
  margin-left: 38.5em;
  margin-top: -40.25em;
  position: absolute;
  display: block;
  text-indent: -9999px;
  height: 40px; 
  width: 160px;
  background: url('/media/Unmanaged/Images/LIBRARY_mini-site_joespub.png'); 
  position: absolute;
}

#HomePage_TextWithImagesPage_About #MainContent
{
  height: 410px;
}

#HomePage_TextWithImagesPage_About div + p
{
  color: red;
  font-weight: bold;
}

#HomePage_TextWithImagesPage_Menu 
/*******************************************************************************
  ACKNOWLEDGEMENTS
********************************************************************************

*1

Eric Meyer's CSS reset
v2.0
2011-1-26
http://meyerweb.com/eric/tools/css/reset/

*2

visuallyhidden
HTML5 Boilerplate 2.0
http://html5boilerplate.com/


/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
