<%@ Master Language="C#" MasterPageFile="~/masterpages/TheLibMaster.master" AutoEventWireup="true" %>
<asp:content ContentPlaceHolderId="MainContentPlaceHolder" runat="server">
  <umbraco:Item field="pdf" runat="server" />
  

</asp:content>