<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT HomePage ANY>
<!ATTLIST HomePage id ID #REQUIRED>
<!ELEMENT Image-Page ANY>
<!ATTLIST Image-Page id ID #REQUIRED>
<!ELEMENT Menu-Pdf-Page ANY>
<!ATTLIST Menu-Pdf-Page id ID #REQUIRED>
<!ELEMENT RF-Slide ANY>
<!ATTLIST RF-Slide id ID #REQUIRED>
<!ELEMENT StandardBase ANY>
<!ATTLIST StandardBase id ID #REQUIRED>
<!ELEMENT TextWithImagesPage ANY>
<!ATTLIST TextWithImagesPage id ID #REQUIRED>

]>
<root id="-1">
  <HomePage id="1051" parentID="-1" level="1" writerID="1" creatorID="0" nodeType="1049" template="1046" sortOrder="2" createDate="2012-06-28T16:06:16" updateDate="2013-02-11T14:03:34" nodeName="The Library" urlName="the-library" writerName="admin" creatorName="Symm Orgmu" path="-1,1051" isDoc="">
    <siteTitle>The Library</siteTitle>
    <bodyText><![CDATA[
<p>The Library at The Public is&nbsp;an Astor-era cocktail lounge
and the latest addition to the&nbsp;dynamic forum for which this
cultural institution is known best. On any given evening, the
hidden away space plays dinner bar, watering hole or backstage
lounge to downtown denizens and neighborhood dwellers,
theater-goers coming or going, academics and artists
alike.&nbsp;</p>

<p>&nbsp;</p>
]]></bodyText>
    <copyReplacementImage>1058</copyReplacementImage>
    <posterImage>1061</posterImage>
    <posterDescription>An artist's rendering of the new lobby</posterDescription>
    <mediaSlideshow>1087</mediaSlideshow>
    <footerReplacementImage>1064</footerReplacementImage>
    <footerHtml><![CDATA[<dl>
          <dt>Hours</dt>
          <dd>Su-W:5:30 pm - 12 am</dd>
          <dd>Th-S:5:30 pm - 2 am</dd>
          <dt>For reservations</dt>
          <dd>
            212-539-8777
          </dd>
          <dt>For events</dt>
          <dd>
            212-539-8790
          </dd>
          <dt>Address</dt>
          <dd>
               <address>
                  <pre>The Public Theater,Mezzanine Level 425 Lafayette Street (at Astor Place) New York, NY 10003
                  </pre>
                </address>
</dd>
</dl>]]></footerHtml>
    <footerIntro>1070</footerIntro>
    <footerIntroHtml><![CDATA[The Library at The Public is an Astor-era cocktail lounge and the latest addition to the dynamic forum for which this cultural institution is known best. On any given evening, the hidden away space plays dinner bar, watering hole or backstage lounge to downtown denizens and neighborhood dwellers, theater-goers coming or going, academics and artists alike. ]]></footerIntroHtml>
    <pageHeading>Home</pageHeading>
    <pageTitle />
    <pageNavTitle>Home</pageNavTitle>
    <pageHideHeading>0</pageHideHeading>
    <umbracoNaviHide>0</umbracoNaviHide>
    <umbracoUrlName />
    <umbracoUrlAlias />
    <umbracoRedirect />
    <umbracoInternalRedirectId />
    <TextWithImagesPage id="1052" parentID="1051" level="2" writerID="1" creatorID="0" nodeType="1050" template="1047" sortOrder="1" createDate="2012-06-28T16:08:29" updateDate="2013-02-11T13:19:17" nodeName="About" urlName="about" writerName="admin" creatorName="Symm Orgmu" path="-1,1051,1052" isDoc="">
      <bodyText><![CDATA[
<p>The Library, named for the building's original use as the Astor
Library, is a central element of the mezzanine level, newly built
with the revitalization of our landmark building's downtown home at
Astor Place. Open late nightly for dinner and cocktail service, the
hidden away space plays dinner bar, watering hole or backstage
lounge to downtown denizens and neighborhood dwellers,
theater-goers coming or going, academics and artists alike.</p>

<p>Our cocktail list uses choice spirits and seasonal house-made
mixers from the kitchen, combining tried and true technique and a
charming approach to the classics. Our wine list features a small
collection of grower champagnes and beers on tap. Chefs Andrew
Carmellini and Michael Oliver have created an eclectic, American
menu of bar snacks, shareable appetizers, sandwiches, dinner plates
and desserts sourcing local ingredients and New York influence that
is available in both The Library and <a
href="http://www.joespub.com/" target="_blank"
title="Joe's Pub">Joe's Pub</a>. A Curtain Call Menu is available
after 12 a.m.</p>

<p>Reservations and walk-in guests are welcome.</p>

<p>Founding Joe's Pub Partners, Kevin Abbott, Serge Becker, Josh
Pickard and Paul Salmon, first opened Joe's Pub at The Public
Theater in 1998 creating one of New York City's most celebrated and
in-demand showcase venues for live music and performance. With the
completion of The Public Theater's revitalization, they are now
joined by celebrated restaurateurs Luke Ostrom and <a
href="http://www.AndrewCarmellini.com" target="_blank"
title="Chef Andrew Carmellini">Chef Andrew Carmellini</a> in
supplying food and beverage programming to The Public at The
Library, Joe's Pub, catering and events and a full-service bar in
the Lobby.</p>

<p><strong>Photos by Noah Fecks and Paul Wagtouicz</strong></p>
]]></bodyText>
      <imageA>1122</imageA>
      <imageAAlt>An artist's rendering of the bar and tables</imageAAlt>
      <imageB>1063</imageB>
      <imageBAlt>An artist's rendering of the bar and tables</imageBAlt>
      <pageHeading>About</pageHeading>
      <pageTitle>About</pageTitle>
      <pageNavTitle>About</pageNavTitle>
      <pageHideHeading>0</pageHideHeading>
      <umbracoNaviHide>0</umbracoNaviHide>
      <umbracoUrlName />
      <umbracoUrlAlias />
      <umbracoRedirect />
      <umbracoInternalRedirectId />
    </TextWithImagesPage>
    <TextWithImagesPage id="1053" parentID="1051" level="2" writerID="1" creatorID="0" nodeType="1050" template="1047" sortOrder="2" createDate="2012-06-28T16:11:29" updateDate="2013-02-11T13:19:20" nodeName="Events" urlName="events" writerName="admin" creatorName="Symm Orgmu" path="-1,1051,1053" isDoc="">
      <bodyText><![CDATA[
<p><span>The Library at The Public is the perfect location for your
next</span> private dinner, cocktail reception or downtown
celebration for parties of 12-100 guests.</p>

<p>The design by David Rockwell draws its inspiration from the
building's original use as the city's first public library. Vintage
elements like distressed leather chairs, industrial, steel-frame
bookcases along the perimeter and a Parisian rug at the room's
center invoke a welcoming, lived-in sense, while artifacts from
past productions pay homage to the great performances of past,
present and future.</p>

<p>Outside of The Library, consider the Lobby of the Public Theater
for larger cocktail parties, the Lobby Balcony for smaller groups
or our stage at Joe's Pub for live entertainment.</p>

<p>If you wish to learn more about events in The Library or Joe's
Pub, please contact our Director of Events department at <a
title="events@thelibraryatthepublic.com">events@thelibraryatthepublic.com</a>&nbsp;or
212-539-8790.</p>
]]></bodyText>
      <imageA>1071</imageA>
      <imageAAlt>An artist's rendering of the bar and tables</imageAAlt>
      <imageB>1063</imageB>
      <imageBAlt>The Library at the Public Theater</imageBAlt>
      <pageHeading>Events</pageHeading>
      <pageTitle>Events</pageTitle>
      <pageNavTitle>Events</pageNavTitle>
      <pageHideHeading>0</pageHideHeading>
      <umbracoNaviHide>0</umbracoNaviHide>
      <umbracoUrlName />
      <umbracoUrlAlias />
      <umbracoRedirect />
      <umbracoInternalRedirectId />
    </TextWithImagesPage>
    <RF-Slide id="1104" parentID="1051" level="2" writerID="1" creatorID="1" nodeType="1100" template="0" sortOrder="4" createDate="2012-09-28T17:54:08" updateDate="2012-09-28T17:55:05" nodeName="first image" urlName="first-image" writerName="admin" creatorName="admin" path="-1,1051,1104" isDoc="">
      <title>manhattan</title>
      <url>#</url>
      <linkTarget><![CDATA[New Browser]]></linkTarget>
      <umbracoFile>/media/1944/martini.jpg</umbracoFile>
      <umbracoWidth>819</umbracoWidth>
      <umbracoHeight>546</umbracoHeight>
    </RF-Slide>
    <RF-Slide id="1105" parentID="1051" level="2" writerID="1" creatorID="1" nodeType="1100" template="0" sortOrder="5" createDate="2012-09-28T18:00:38" updateDate="2012-09-28T18:00:53" nodeName="second image" urlName="second-image" writerName="admin" creatorName="admin" path="-1,1051,1105" isDoc="">
      <title>second image</title>
      <url>#</url>
      <linkTarget><![CDATA[New Browser]]></linkTarget>
      <umbracoFile>/media/1962/mussels.jpg</umbracoFile>
      <umbracoWidth>576</umbracoWidth>
      <umbracoHeight>864</umbracoHeight>
    </RF-Slide>
    <Menu-Pdf-Page id="1157" parentID="1051" level="2" writerID="1" creatorID="1" nodeType="1153" template="1156" sortOrder="5" createDate="2013-02-11T15:21:40" updateDate="2013-02-11T15:21:59" nodeName="Menu" urlName="menu" writerName="admin" creatorName="admin" path="-1,1051,1157" isDoc="" />
  </HomePage>
</root>